.tweet {
  background-color: cyan;
}

.tweet:hover {
  background-color: lemonchiffon;
}

.child {
  border: 1px blue solid;
  max-width: 700px;
  margin: 20px;
  padding: 20px;
  border-radius: 25px;
}
