.toolbar {
  display: flex;
  justify-content: space-evenly;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
  max-width: 35%;
}

a {
  color: white;
  text-decoration: none;
}

.active {
  background-color: blue;
}
