<mat-toolbar color="primary">
  <mat-toolbar-row class="toolbarContainer">
    <a
      routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a routerLink="/feed" routerLinkActive="active">Feed</a>
    <a routerLink="/about" routerLinkActive="active">About</a>

    <button mat-raised-button *ngIf="!isLoggedIn" (click)="onLogin()">
      Login
    </button>
    <button mat-raised-button *ngIf="isLoggedIn" (click)="onLogout()">
      Logout
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
