<mat-toolbar color="primary">
  Login
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>x</button></mat-toolbar
>

<p>{{ user | json }}</p>
<form (ngSubmit)="onSubmit()" novalidate #loginForm="ngForm">
  <mat-dialog-content>
    <p>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="user.username"
          placeholder="Username"
          type="text"
          name="username"
          #username="ngModel"
          required
        />
      </mat-form-field>
      <mat-error class="error" *ngIf="username.errors?.['required']"
        >Username is required</mat-error
      >
    </p>
    <p>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="user.password"
          placeholder="Password"
          type="password"
          name="password"
          #password="ngModel"
          required
        />
      </mat-form-field>
      <mat-error class="error" *ngIf="password.errors?.['required']"
        >Password is required</mat-error
      >
    </p>
  </mat-dialog-content>
  <p>
    <mat-checkbox [(ngModel)]="user.remember" name="rememberme"
      >Remember Me</mat-checkbox
    >
  </p>
  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button
      color="primary"
      mat-button
      type="submit"
      [disabled]="loginForm.form.invalid"
    >
      Login
    </button>
    <button type="button" mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>
