<div class="auth-container">
  <h1>Authentication</h1>
  <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
    <p>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          name="email"
          placeholder="Email"
          ngModel
          required
          email
        />
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          name="password"
          placeholder="password"
          ngModel
          required
          minlength="6"
        />
      </mat-form-field>
    </p>

    <p>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!authForm.valid"
      >
        {{ isLoginMode ? "Login" : "Sign up" }}
      </button>
      |
      <button
        mat-stroked-button
        color="primary"
        type="button"
        (click)="onSwitchMode()"
      >
        Switch to {{ !isLoginMode ? "Login" : "Sign up" }}
      </button>
    </p>
  </form>
</div>
