<!-- view
<!-- property-binding -->
<!-- <p>{{ count }}</p> -->

<!-- event binding -->
<!-- <button (click)="increaseCount()">CLICK TO INCREASE</button> -->

<!-- <app-squarenum [num]="count"></app-squarenum> -->

<!-- <h1>property binding</h1>
<p>{{ isDisabled }}</p>

<button [disabled]="isDisabled">CLICK ME</button> -->

<!-- two way data binding -->

<!-- <h1>{{ inputValue }}</h1>
<input type="text" placeholder="one way" (input)="onType($event)" />
<input type="text" placeholder="two way" [(ngModel)]="inputValue" />
<button>SUBMIT</button> -->

<!-- <mat-slide-toggle (change)="change($event)"> one way </mat-slide-toggle>
<mat-slide-toggle [(ngModel)]="isChecked"> two way </mat-slide-toggle> -->

<h1 #heading>I am a heading</h1>
