<div class="movie-container">
  <h1>Movies</h1>
  <h2>Rating average: {{ ratingAvg | async }}</h2>
  <form>
    <input
      name="search"
      [(ngModel)]="searchString"
      type="text"
      placeholder="Search movies"
    />
    <button type="button" (click)="onSearch()">Search</button>
    <p>
      <button (click)="onAddMovie()">Add movie</button>
    </p>
  </form>

  <div class="movie" *ngFor="let movie of movies | filter: searchString">
    <h2>{{ movie.name | uppercase | shorten: 15 }}</h2>
    <h4>{{ movie.genre }}</h4>
    <p>{{ movie.date | date: "fullDate" | uppercase }}</p>
    <hr />
  </div>
</div>
