<div
  class="container"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px"
>
  <mat-card *ngIf="dish" fxFlex>
    <mat-card-header>
      <mat-card-title>{{ dish.name }}</mat-card-title>
    </mat-card-header>
    <img src="{{ dish.image }}" alt="{{ dish.name }}" height="400px" />
    <mat-card-content>
      <p>{{ dish.description }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="promotion" fxFlex>
    <mat-card-header>
      <mat-card-title>{{ promotion.name }}</mat-card-title>
    </mat-card-header>
    <img
      src="{{ promotion.image }}"
      alt="{{ promotion.name }}"
      height="400px"
    />
    <mat-card-content>
      <p>{{ promotion.description }}</p>
    </mat-card-content>
  </mat-card>
</div>
