<!-- IF ELSE using ngIf -->
<!-- <h1>Your Post</h1>
<p *ngIf="comments > 0; else elseBlock">Here are your comments</p>

<ng-template #elseBlock>
  <h1>😔</h1>
  <p>no comments yet</p>
</ng-template> -->

<!-- <p
  [ngStyle]="{
    backgroundColor: pColor
  }"
>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellat
  deserunt voluptatibus adipisci. Esse ea expedita corporis inventore nesciunt
  possimus, reprehenderit hic distinctio, quod maiores voluptates magnam, dolore
  facere iusto.
</p> -->

<!-- <mat-slide-toggle [(ngModel)]="isDark"> dark theme </mat-slide-toggle>

<div
  [ngClass]="{
    dark: isDark
  }"
>
  <ul>
    <li>hi</li>
    <li>helo</li>
    <li>bye</li>
  </ul>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa voluptatum quo
    enim natus excepturi molestiae. Numquam vitae dolore corrupti ab accusamus
    optio voluptatum dolor voluptatibus corporis fuga, aperiam modi a?
  </p>
  <button>CLICK ME</button>
</div> -->

<!-- <h1>shopping list</h1>
<ul>
  <li *ngFor="let s of shoppingList; let i = index">{{ i + 1 }}. {{ s }}</li>
</ul> -->
